@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTSans-Caption.woff2') format('woff2'),
         url('../fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --flex: flex;
    --space-b: space-between;
    --none: none;
    --norm: normal;
    --cntr: center;
    --clr-gr: #1FA181;
    --white: #FFFFFF;
}

a {
    text-decoration: var(--none);
}

ul {
    padding: 0;
}

li {
    list-style: var(--none);
}

input {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

p {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #364844;
}

/*TOP NAV*/

.header {
    width: 100%;
}

.header__nav-top {
    padding: 0 15%;
}

.nav-top__list {
    display: var(--flex);
    align-items: var(--cntr);
}

.nav-top__item:not(:last-child) {
    margin-right: 15px;
}

.social-svg {
    padding-top: 4px;
    width: 20px;
    fill: var(--clr-gr);
}

.header__link {
    font-family: 'PT Sans Caption';
    font-style: var(--norm);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--clr-gr);
}

/*INFO NAV*/

.header__nav-info {
    padding: 0 15%;
    display: var(--flex);
    align-items: var(--cntr);
    justify-content: var(--space-b);
}

.header__wrapper {
    display: var(--flex);
    align-items: var(--cntr);
}

.logo {
    height: 50px;
    width: 155px;
    object-fit: cover;
}
.header__block {
    margin-right: 32px;
}

.loc-icon {
    margin-right: 5px;
}

.location__city {
    margin: 0;
    display: var(--flex);
    align-items: var(--cntr);
    font-size: 14px;
    color: #364844;
}

.location__street {
    margin: 0 25px 0;
    font-size: 14px;
    color: #868686;
}

.num_block {
    display: var(--flex);
    align-items: var(--cntr);
}

.header__number {
    margin-left: 10px;
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #364844;
}

.header__btn {
    padding: 11px 24px;
    font-family: 'PT Sans Caption';
    font-style: var(--norm);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--white);
    background-color: #0DBC91;
    border-radius: 50px;
}

/*DOWN NAV*/

.header__nav-down {
    padding: 0 15%;
    display: var(--flex);
    align-items: var(--cntr);
    justify-content: space-between;
    background-color: var(--clr-gr);
}

.header__list {
    display: var(--flex);
}

.header__item:not(:last-child) {
    margin-right: 30px;
}

.header__link__two {
    font-family: 'PT Sans Caption';
    font-style: var(--norm);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.header__form_search {
    padding: 0 14px;
    height: 35px;
    width: 195px;
    display: var(--flex);
    justify-content: var(--space-b);
    align-items: var(--cntr);
    border-radius: 5px;
    border: 1px solid #9CE3D2
}

.header__form_search input {
    width: 160px;
}
.header__form_search input::placeholder {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #BDF3E6;
}

.header__btn-search {
    padding: 0;
    background-color: transparent;
}

/*HERO*/

.swiper {
    width: 100%;
    height: 533px;
}

.swiper-slide {
    width: 50%;
    display: var(--flex);
}

.slide__article {
    padding: 140px 0 140px 15%;
}

.slide__heading {
    width: 416px;
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #364844;
}

.slide__text {
    width: 360px;
    color: #364844;
}

.slide__article {
    width: 50%;
}

.slide__wrapper {
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide__wrapper_one {
    background-image: url(../img/hero_Group.jpg);
}

.slide__wrapper_two {
    background-image: url(../img/hero_Group_two.jpg);
}

/*services*/

.services {
    padding: 80px 15%;
}

.card__list {
    display: var(--flex);
    justify-content: var(--space-b);
}

.card__item {
    padding: 20px 50px;
    display: var(--flex);
    flex-direction: column;
    align-items: var(--cntr);
    border-radius: 5px;
    background-color: #F8FBFA;
}
.card__item:not(:last-child) {
    margin-right: 20px;
}
.card__item_bg {
    background-color: #FEFCEF;
}

.card__text {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #364844;
}

.services__list {
    margin: 70px 0 80px;
}

.services__heading {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
    color: #364844;
}

.services__wrapper__btn {
    display: var(--flex);
    justify-content: flex-start;
}

.services__btn {
    padding: 14px 32px;
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0DBC91;
}

.services__btn_child {
    background-color: #868686;
}

.services__list__wrapper {
    padding: 60px 65px;
    display: var(--flex);
    justify-content: var(--space-b);
    background: #F8FBFA;
    border-radius: 5px;
}

.services__list {
    margin: 0;
    padding: 0;
}

.services__item {
    list-style:disc;
    color: var(--clr-gr);
}

.services__item:not(:last-child) {
    margin-bottom: 10px;
}

.services__link {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #364844;
}
.services__link:hover {
    color: var(--clr-gr);
}

.services__card__list {
    margin: 80px 0 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 310px 1fr;
    gap: 25px;
}

.services__card__item {
    padding: 50px 40px 60px;
    position: relative;
    border-radius: 5px;
}
.grid__item_one {
    grid-column-start: 1;
    grid-column-end: 4;
    background:#E2F0EF no-repeat url(../img/Mask\ Group_once.png) right bottom;
}

.services__card__img_one {
    position: absolute;
    top: 168px;
    right: 10px;
}

.grid__item_two {
    grid-column-start: 4;
    grid-column-end: 7;
    background: #FEFCEF;
}

.grid__item_three {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    background: #F8FBFA;
}

.grid__item_four {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    background: #FEFCEF;
}

.grid__item_five {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    background: #F8FBFA;
}

.services__card__heading {
    margin: 0 0 5px 0;
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #364844;
}

.services__card__text {
    margin: 0 0 90px 0;
}

.services__card__link {
    color: #0DBC91;
}